@font-face{
    font-family: px-vga;
    src: url("Fonts/PxPlus_VGA_SquarePx.ttf");
    font-weight: normal;
    font-style: normal;
}
html{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: #32CD32;
    font-family: "px-vga";
}
body{
    box-sizing: border-box;
}
.php-response{
    font-size: 2rem;
    grid-area: footer-child;
}
a{
    text-decoration: none;
    color: #FFB000;
}
p{
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 3rem;
}
h2{
    font-weight: normal;
    font-size: 3.5rem;
    margin: 0;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #32CD32;
}
header h1{
    margin: 0;
}
.grid{
    margin: 0;
    height: 100%;
    display: grid;
    grid-template:
    "header header header" 10%
    "main main main" 80%
    "footer footer footer" 10%
    / 10% 80% 10%;
}
.grid-response{
    margin: 0;
    height: 100%;
    display: grid;
    grid-template:
    "header header header" 10%
    "response response response" 40%
    "return return return" 40%
    "footer footer footer" 10%
    / 10% 80% 10%;
}
.grid-index{
    margin: 0;
    height: 100%;
    display: grid;
    grid-template:
    "header header" 10%
    "balance balance" auto
    "buttons buttons" auto
    "income expense" 70%
    "footer footer" auto
    / 50% 50%;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid #32CD32;
    overflow: auto;
}
.main-container .main-title{
    margin: 0;
}
.main-button-container{
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #32CD32;
    margin: 5px 5px 0 5px;
}
.main-button-container input{
    font-size: 3rem;
    font-family: "px-vga", Arial, Helvetica, sans-serif;
    border: 1px solid #32CD32;
    color: #32CD32;
    caret-color: #32CD32;
    display: inline;
    background-color: black;
    max-width: 80vw;
    margin: 5px;
}
.main-button-container input[type="button"]:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
.main-button-container input[type="button"]:hover i{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
.main-button-container input[type="submit"]:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
.main-button-container a:hover{
    text-decoration: underline;
}
.main-container p, .main-done p{
    font-size: 3rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.main-container span{
    display: inline;
    font-size: 1.5rem;
}
.main-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.main-container form p{
    margin: 0;
}
.main-container form a {
    font-size: 3rem;
    border: 1px solid #32CD32;
    color: #32CD32;
    padding: 1px 6px;
}
.main-container form a:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
    text-decoration: none;
}
.main-container form input[type="date"], .main-container form input[type="time"]{
    font-size: 1.8rem;
    padding-inline-start: 5px;
}
.main-container input{
    font-size: 3rem;
    font-family: "px-vga", Arial, Helvetica, sans-serif;
    border: 1px solid #32CD32;
    color: #32CD32;
    caret-color: #32CD32;
    display: inline;
    background-color: black;
    max-width: 80vw;
    margin: 5px;
}
.main-container button[type="button"]:hover{
    border-color: #FFB000;
    color: #FFB000;
}
.main-container button[type="button"]:hover i{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
.main-container input[type="submit"]:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
.main-container ul, .main-done ul{
    list-style-type: none;
    padding-inline-start: 0;
}
.li-invoice{
    box-sizing: border-box;
    font-size: 1.8rem;
    padding: 4px 1px 4px 4px;
    border: 1px solid #32CD32;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.li-invoice a{
    color: #32CD32;
}
.li-invoice a:hover{
    text-decoration: underline;
}
.li-invoice span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
}
.li-invoice .li-invoice-span-div{
    display: inline-flex;
    align-items: center;
}
.li-invoice .task-title{
    margin-right: 5px;
}
.li-invoice .edit-button{
    margin: 0 3px;
}
.li-invoice .cross-out-button{
    margin: 0;
    padding: 0 5px;
    font-size: 1rem;
    width: 100%;
}
.li-invoice .cross-out-form{
    display: inline;
    margin: 0 3px;
}
.done{
    color: #FFB000;
    border-color: #FFB000;
}
.main-container li a:hover, .main-done li a:hover{
    color: #FFB000;
}
.main-container button{
    padding: 5px;
    background-color: black;
    border: 1px solid #32CD32;
    color: #32CD32;
}
.main-container input[type="button"]:hover{
    border-color: #FFB000;
    color: #FFB000;
}
.main-container i{
    font-size: 1em;
}
.main-form{
    justify-content: center;
}
.main-grid{
    grid-area: main;
}
.main-expense{
    grid-area: expense;
}
.expense-edit-form, .expense-delete-form{
    display: inline-block;
}
.main-income{
    grid-area: income;
}
.main-expense form input[type="submit"], .main-income form input[type="submit"]{
    font-size: 1rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 2px 3px;
    margin: 0 3px;
}
.main-grid-response{
    grid-area: response;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}
.main-grid-return{
    grid-area: return;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}
.main-done{
    grid-area: done;
    border: 1px solid #32CD32;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.edit-expense-modal-container, .edit-income-modal-container{
    position: absolute;
    top: 0;
    left: 0;
}
/* Modal Start */
.modal{
    display: none; /* hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; /* fallback color in case browser does not support opacity hexes*/
    background-color: #00000066; /* black with opacity */
}
.expense-modal, .income-modal{
    display: block; /* hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; /* fallback color in case browser does not support opacity hexes*/
    background-color: #00000066; /* black with opacity */
}
/* Modal Content */
.modal-content{
    position: relative;
    background-color: black;
    margin: 10% auto auto auto; /* Will keep modal 15% of screen height from the top, an center it via auto margin-sides */
    padding: 0;
    border: 1px solid #32CD32;
    width: 80%;
    animation: animate-modal 0.4s;
}
/* Modal Header */
.modal-header{
    border: 1px solid #32CD32;
}
.modal-header h1{
    margin: 0;
}
/* Modal Body*/
.modal-body{
    font-size: 2rem;
}
.modal-body form input{
    font-size: 2rem;
    font-family: "px-vga", 'Courier New', Courier, monospace;
    background-color: black;
    border: 1px solid #32CD32;
    caret-color: #32CD32;
    color: #32CD32;
}
.modal-body form input[type="submit"]:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
}
/* Close Button on Modal */
.close{
    color: #32CD32;
    float: right;
    font-size: 2.45rem;
    font-weight: 100;
}
/* Close Button Behavior */
.close:hover, .close:focus{
    color: #FFB000;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Content End*/
/* Modal End */
.balance-container{
    grid-area: balance;
    margin: 5px 5px 0 5px;
    border: 1px solid #32CD32;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.balance-container h1{
    margin: 0;
    font-size: 2rem;
}
table, tbody{
    border-color: #32CD32;
}
th{
    font-size: 2rem;
    font-weight: normal;
}
td{
    font-size: 1.5rem;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    border-top: 1px solid #32CD32;
}
footer a:hover{
    text-decoration: underline;
}
#add-task-link {
    font-size: 3rem;
    border: 1px solid #32CD32;
    color: #32CD32;
    padding: 1px 6px;
}
#add-task-link:hover{
    border-color: #FFB000;
    color: #FFB000;
    cursor: pointer;
    text-decoration: none;
}
.float-right{
    float: right;
}
@keyframes animate-modal{
    from{
        top: -300px; opacity: 0;
    }
    to{
        top: 0; opacity: 1;
    }
}
@media screen and (max-width: 500px){
.grid-index{
    grid-template:
    "header" 10%
    "main" auto
    "done" auto
    "footer" 10%
    / 100%;
}
}
